<a href="https://colab.research.google.com/github/channmilee/Python/blob/master/001_%EC%8B%9C%EB%A6%AC%EC%A6%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 시리즈

### 1-1. 딕셔너리 -> 시리즈 변환

* pd.Series(dict)

In [ ]:
import pandas as pd

dict_data = {'a':1,'b':2,'c':3}

sr = pd.Series(dict_data)

In [ ]:
print('dict_data의 타입: ', type(dict_data))
print('\n')
print('sr 타입:',type(sr))
print('\n')
print(sr)

dict_data의 타입:  <class 'dict'>


sr 타입: <class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

### 1-2. 인덱스 구조

[인덱스]
* 정수형 인덱스
* 인덱스 이름/인덱스 라벨

* 인덱스 배열:Series객체.index
* 데이터 값 배열 : Series객체.values

In [ ]:
list_data = ['2022-10-25',3.14,'ABC',100,True]
sr = pd.Series(list_data)

print(sr)

0    2022-10-25
1          3.14
2           ABC
3           100
4          True
dtype: object

In [ ]:
idx = sr.index
val = sr.values

print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2022-10-25' 3.14 'ABC' 100 True]

### 1-3. 원소 선택

[인덱스 유형에 따른 사용법]
* 정수형 위치 인덱스 : [ ] 안에 숫자 입력
* 인덱스 이름 : [ ] 안에 따옴표로 이름 입력

In [ ]:
tup_data = ('영인','2010-07-01','여',True)
sr = pd.Series(tup_data, index = ['이름','생년월일','성별','학생 여부'])

print(sr)

이름               영인
생년월일     2010-07-01
성별                여
학생 여부          True
dtype: object

In [ ]:
print(sr[0])

print(sr['이름'])

영인
영인

In [ ]:
print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

생년월일    2010-07-01
dtype: object


생년월일    2010-07-01
성별               여
dtype: object

In [ ]:
# 여러 개의 인덱스를 리스트 형태로 [ ] 안에 입력
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])

생년월일    2010-07-01
성별               여
dtype: object


생년월일    2010-07-01
성별               여
dtype: object