<a href="https://colab.research.google.com/github/channmilee/Python/blob/master/002_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%94%84%EB%A0%88%EC%9E%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. 데이터 프레임

### 2-1. 데이터 프레임 만들기

* pd.DataFrame(딕셔너리 객체)

In [ ]:
import pandas as pd

dict_data = {'co':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

In [ ]:
print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   co  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

### 2-2. 행 인덱스/열 이름 설정

* pd.DataFrame(2차원 배열, index = 행 인덱스 배열, columns = 열 이름 배열)

In [ ]:
df = pd.DataFrame([[15,'남','덕명중'], [17,'여','수리중']],
                  index = ['준서','예은'],
                  columns = ['나이','성별','학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕명중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

* 행 인덱스 변경 : DataFrame 객체.index = 새로운 행 인덱스 배열
* 열 이름 변경 : DataFrame 객체.columns = 새로운 열 이름 배열

In [ ]:
df.index = ['학생1','학생2']
df.columns = ['연령','남녀','소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕명중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

* rename () -> 행 인덱스, 열 이름 일부 선택하여 변경
  * 행 인덱스 변경 : DataFrame 객체.rename(index = {기존 인덱스 : 새 인덱스})
  * 열 이름 변경 : DataFrame 객체.rename(columns = {기존 이름 : 새 이름}) 
  * 원본 객체를 직접 수정하는 것이 아니라 데이터 프레임 객체 반환.
  * 원본 객체 변경 : inplace = True 옵션 사용

In [ ]:
df = pd.DataFrame([[15,'남','덕명중'],[18,'여','수리중']],
                  index = ['준서','예은'],
                  columns = ['나이','성별','학교'])

print(df)

    나이 성별   학교
준서  15  남  덕명중
예은  18  여  수리중

In [ ]:
df.rename(index = {'준서':'학생1','예은':'학생2'}, inplace = True)
df.rename(columns = {'나이':'연령'}, inplace = True)

print(df)

     연령 성별   학교
학생1  15  남  덕명중
학생2  18  여  수리중

### 2-3. 행/열 삭제

* drop()
  * 행 삭제 : DataFrame 객체.drop(행 인덱스 또는 배열, axis = 0)
  * 열 삭제 : DataFrame 객체.drop(열 이름 또는 배열, axis = 1)
  * 기존 객체 변경하지 않고 새로운 객체 반환
  * 원본 객체 변경 : inplace = True

In [ ]:
exam_data = {'수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data, index = ['서준','우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
# df2에 df 복사
df2 = df[:]

df2.drop('우현', axis = 0, inplace = True)

print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df3 = df[:]

df3.drop('수학', axis = 1, inplace = True)

print(df3)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df4 = df[:]

df4.drop(['수학','영어'], axis = 1, inplace = True)

print(df4)

     음악   체육
서준   85  100
우현   95   90
인아  100   90

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

### 2-4. 행 선택

* 인덱스 이름 : loc
  * 범위 끝 포함
* 정수형 인덱스 : iloc
  * 범위 끝 제외

In [ ]:
exam_data = {'수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data, index = ['서준','우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
label1 = df.loc['서준']
position1 = df.iloc[0]

print(label1)
print('\n')
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [ ]:
label2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]

print(label2)
print('\n')
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [ ]:
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:2]

print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

### 2-5. 열 선택


  * 열 1개 선택(시리즈 생성) : DataFrame 객체['열 이름'] / DataFrame 객체.열 이름
  * 열 n개 선택(데이터 프레임 생성) : DataFrame 객체[[열1, 열2, ...]]

In [ ]:
exam_data = {'이름':['서준','우현','인아'],
             '수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [ ]:
math = df.수학
print(math)
print(type(math))

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
english = df['영어']
print(english)
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>

In [ ]:
math2 = df[['수학']]
print(math2)
print(type(math2))

   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

* 범위 슬라이싱
  * DataFrame 객체.iloc[시작 인덱스 : 끝 인덱스 : 슬라이싱 간격]

In [ ]:
df.iloc[::2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [ ]:
df.iloc[0:3:2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [ ]:
# 역순 인덱싱
df.iloc[::-1]

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

### 2-6. 원소 선택

* 인덱스 이름 : DataFrame 객체.loc[행 인덱스, 열 이름]
* 정수 위치 인덱스 : DataFrame 객체.iloc[행 번호, 열 번호]

In [ ]:
exam_data = {'이름':['서준','우현','인아'],
             '수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [ ]:
# '이름'열을 새로운 인덱스로 지정

df.set_index('이름', inplace = True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
a = df.loc['서준','음악']
b = df.iloc[0,2]

print(a)
print(b)

85
85

In [ ]:
c = df.loc['서준','음악':'체육']
d = df.loc['서준',['음악', '체육']]
e = df.iloc[0, 2:4]
f = df.iloc[0, [2,3]]

print(c)
print(d)
print(e)
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [ ]:
g = df.loc['서준':'우현', '음악':'체육']
h = df.loc[['서준','우현'], ['음악','체육']]
i = df.iloc[0:2, 2:4]
j = df.iloc[[0,1], [2,3]]

print(g)
print(h)
print(i)
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

### 2-7. 열 추가

* DataFrame 객체['추가하려는 열 이름'] = 데이터 값

In [ ]:
exam_data = {'이름':['서준','우현','인아'],
             '수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [ ]:
df['국어'] = [80, 90, 100]

print(df)

   이름  수학  영어   음악   체육   국어
0  서준  90  98   85  100   80
1  우현  80  89   95   90   90
2  인아  70  95  100   90  100

### 2-8. 행 추가

* DataFrame.loc['새로운 행 이름'] = 데이터 값

In [ ]:
exam_data = {'이름':['서준','우현','인아'],
             '수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [ ]:
# 새로운 행 추가 - 같은 값 입력
df.loc[3] = 0
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

In [ ]:
df.loc[4] = ['동규',90,80,70,60]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

In [ ]:
# 새로운 행 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df)

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

### 2-9. 원소 값 변경

* DataFrame 객체의 일부분 또는 원소 선택 = 새로운 값

In [ ]:
exam_data = {'이름':['서준','우현','인아'],
             '수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [ ]:
df.set_index('이름', inplace = True)
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
df.iloc[0][3] = 80
df

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

In [ ]:
df.loc['서준']['체육'] = 90
df

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

In [ ]:
df.loc['서준','체육'] = 100
df

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
df.loc['서준',['음악','체육']] = 50
df

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

In [ ]:
df.loc['서준', '음악':'체육'] = 60,70
df

    수학  영어   음악  체육
이름
서준  90  98   60  70
우현  80  89   95  90
인아  70  95  100  90

### 2-10. 행, 열 위치 바꾸기

* DataFrame 객체.transpose() / DataFrame 객체.T

In [ ]:
exam_data = {'이름':['서준','우현','인아'],
             '수학':[ 90,80,70],'영어':[ 98,89,95],
             '음악':[ 85,95,100],'체육':[ 100,90,90]}

df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [ ]:
df = df.transpose()
df

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

In [ ]:
df = df.T
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90